Repository Log-Devs/logistic-port, pull requests merged in 2025-05, with the labels that each got.

#15 Updated the chat design
  app/app-details-config.ts
  components/ChatbotButton.tsx
  components/ChatbotWindow.tsx
Labels: enhancement

#16 fixed the production error
  README.md
  ai-integration.md
  components/ChatbotButton.tsx
Labels: bug

#27 Update to certain ui components to make the application standout
  app/client/components/dashboard-card.tsx
  app/client/components/header.tsx
  app/client/components/sidebar.tsx
  app/client/dashboard/page.tsx
  app/client/layout.tsx
  components/professional-hero.tsx
Labels: enhancement

#26 Awaiting Shipments Page
  app/client/awaiting-shipments/page.tsx
  app/client/components/AwaitingShipmentCard.tsx
  app/client/components/AwaitingShipmentTable.tsx
  app/globals.css
  awaitingshipment.md
Labels: enhancement

#35 Fixed some minor type bugs
  README.md
  app/client/awaiting-shipments/page.tsx
  app/client/components/AwaitingShipmentDetail.tsx
  app/client/components/AwaitingShipmentTable.tsx
  app/client/components/__tests__/AwaitingShipmentTable.computeArrival.test.ts
  documentation/SECURITY.md
  documentation/ai-integration.md
  documentation/authlogic.md
  documentation/awaitingshipment.md
  documentation/conectapi.md
  documentation/crosslogic.md
  documentation/statuscodes.md
  lib/logistics-statuses.ts
  lib/status-color-map.ts
  lib/statuscodes.test.ts
  tsconfig.json
  types/custom-elements.d.ts
Labels: bug, enhancement

#37 feat: add form validation, error handling and Lottie animation remoun…
  README.md
  app/client/about/about.tsx
  app/client/components/AwaitingShipmentDetail.test.tsx
  app/client/components/AwaitingShipmentDetail.tsx
  app/client/components/AwaitingShipmentTable.tsx
  app/client/components/ConfirmForm.tsx
  app/client/components/PackageForm.tsx
  app/client/components/RecipientForm.tsx
  app/client/components/SenderForm.tsx
  app/client/submit-shipment.md
  app/client/submit-shipment/AnimatedCheckmarkModal.tsx
  app/client/submit-shipment/page.tsx
  app/client/support/page.tsx
  package-lock.json
  package.json
  tests/AwaitingShipmentTable.computeArrival.test.ts
Labels: bug

#39 worked on some minor enhancements
  README.md
  app/client/components/AwaitingShipmentTable.tsx
  app/client/components/computeArrival.ts
  tests/AwaitingShipmentDetail.test.tsx
  tests/AwaitingShipmentTable.computeArrival.test.ts
Labels: enhancement

#42 feat: Add Settings Page with Account, Notification, Security, and Preferences Management
  app/client/components/settings/AccountSettings.tsx
  app/client/components/settings/NotificationSettings.tsx
  app/client/components/settings/PreferencesSettings.tsx
  app/client/components/settings/SecuritySettings.tsx
  app/client/settings/page.tsx
  components/awaiting-shipment-card.tsx
  components/ui/client-dashboard/awaiting-shipment/awaiting-shipment-card.tsx
  documentation/settings.md
  lib/constants.ts
Labels: enhancement
